apiVersion: operator.authorino.kuadrant.io/v1beta1
kind: Authorino
metadata:
  name: {{ .AuthorinoConfigs.Name }}
  namespace: {{ .Auth.Namespace }}
spec:
  authConfigLabelSelectors: authorino/topic=odh
  clusterWide: true
  listener:
    tls:
      enabled: false
  oidcServer:
    tls:
      enabled: false
