apiVersion: operator.authorino.kuadrant.io/v1beta1
kind: Authorino
metadata:
  name: {{ .AuthorinoConfigs.CrName }}
  namespace: {{ .Auth.Namespace }}
spec:
  image: {{ .AuthorinoConfigs.ContainerImage }}
  authConfigLabelSelectors: {{ .AuthorinoConfigs.LabelSelectors }}
  clusterWide: true
  listener:
    tls:
      enabled: false
  oidcServer:
    tls:
      enabled: false
