apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.ScheduledWorkflowDefaultResourceName}}
  namespace: {{.Namespace}}
  labels:
    app: {{.ScheduledWorkflowDefaultResourceName}}
    component: data-science-pipelines
