---
apiVersion: v1
kind: Service
metadata:
  name: data-science-prometheus-namespace-proxy-service
  namespace: {{.Namespace}}
  labels:
    app: data-science-prometheus-namespace-proxy
    platform.opendatahub.io/part-of: monitoring
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/instance: data-science-monitoringstack
  annotations:
    monitoring.opendatahub.io/secure-proxy: "true"
    monitoring.opendatahub.io/secure-proxy-version: "v2"
    monitoring.opendatahub.io/tls-enforced: "true"
    service.beta.openshift.io/serving-cert-secret-name: data-science-prometheus-namespace-proxy-service-tls
spec:
  type: ClusterIP
  ports:
    - name: web
      port: 9090
      protocol: TCP
      targetPort: https # Points to the secure proxy port 8443
  selector:
    app: data-science-prometheus-namespace-proxy
