# Cluster Prometheus Datasource for Perses
#
# This is a short-term workaround to provide access to cluster-wide metrics
# via the OpenShift Monitoring stack's Thanos Querier.
#
# This datasource points to the cluster's Thanos Querier (in openshift-monitoring)
# which aggregates metrics from all Prometheus instances in the cluster.
#
# This will be replaced/updated once decentralized metrics collection is implemented.
#
# The configuration uses:
# - ConfigMap-based TLS CA (prometheus-web-tls-ca with OpenShift service CA)
# - A secret for bearer token authentication to Thanos Querier
#
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-prometheus-datasource-secret
  namespace: {{.Namespace}}
  labels:
    platform.opendatahub.io/part-of: monitoring
  annotations:
    kubernetes.io/service-account.name: data-science-prometheus-cluster-proxy
type: kubernetes.io/service-account-token
---
apiVersion: perses.dev/v1alpha1
kind: PersesDatasource
metadata:
  name: cluster-prometheus-datasource
  namespace: {{.Namespace}}
  labels:
    platform.opendatahub.io/part-of: monitoring
  annotations:
    platform.opendatahub.io/description: "Cluster-wide Prometheus metrics via OpenShift Monitoring Thanos Querier"
spec:
  client:
    tls:
      enable: true
      caCert:
        type: configmap
        name: prometheus-web-tls-ca
        certPath: service-ca.crt
  config:
    default: true
    display:
      name: "Cluster Prometheus"
      description: "OpenShift Monitoring Thanos Querier - provides cluster-wide metrics"
    plugin:
      kind: "PrometheusDatasource"
      spec:
        proxy:
          kind: HTTPProxy
          spec:
            # Secret contains bearer token for Thanos Querier authentication
            secret: cluster-prometheus-datasource-secret
            url: https://thanos-querier.openshift-monitoring.svc:9091
