apiVersion: perses.dev/v1alpha1
kind: PersesDatasource
metadata:
  name: data-science-prometheus-datasource
  namespace: {{.Namespace}}
  labels:
    platform.opendatahub.io/part-of: monitoring
  annotations:
    platform.opendatahub.io/description: "Data Science specific metrics from the local MonitoringStack"
spec:
  config:
    # default: false - Cluster Prometheus is the default until decentralized collection is implemented
    default: false
    display:
      name: "Data Science Prometheus"
      description: "Data Science MonitoringStack Thanos Querier - provides DS workload metrics"
    plugin:
      kind: "PrometheusDatasource"
      spec:
        proxy:
          kind: HTTPProxy
          spec:
            url: http://thanos-querier-data-science-thanos-querier.{{.Namespace}}.svc.cluster.local:10902
