# Temporary workaround for https://issues.redhat.com/browse/RHOAIENG-165
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: grpc-only
  namespace: {{ .ControlPlane.Namespace }}
  labels:
    app.opendatahub.io/kserve: "true"
    app.kubernetes.io/part-of: kserve
    opendatahub.io/related-to: RHOAIENG-165
spec:
  priority: 20
  workloadSelector:
    labels:
      protocol: "grpconly"
  configPatches:
    - applyTo: HTTP_FILTER
      match:
        context: SIDECAR_INBOUND
        listener:
          filterChain:
            filter:
              name: envoy.filters.network.http_connection_manager
      patch:
        operation: INSERT_BEFORE
        value:
          name: envoy.filters.http.lua
          typed_config:
            "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
            inlineCode: |
              function envoy_on_request(request_handle)
                local header_value = request_handle:headers():get("Content-Type")
                local pattern = "^application/grpc"
                if header_value:find(pattern) == nil then
                  request_handle:respond({[":status"] = "400"}, "Invalid request, this endpoint only serves grpc.")
                end
              end
