apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: kserve-predictor
  namespace: {{ .ControlPlane.Namespace }}
spec:
  action: CUSTOM
  provider:
    name: opendatahub-odh-auth-provider
  rules:
  - to:
    - operation:
        notPaths:
        - /healthz*
        - /metrics
  selector:
    matchLabels:
      component: predictor
