apiVersion: v1
kind: Secret
metadata:
  name: "{{.ObjectStorageConnection.CredentialsSecret.SecretName}}"
  namespace: {{.Namespace}}
  labels:
    app: minio-{{.Name}}
    component: data-science-pipelines
stringData:
  host: "{{.ObjectStorageConnection.Host}}"
  port: "{{.ObjectStorageConnection.Port}}"
  secure: "{{.ObjectStorageConnection.Secure}}"
data:
  {{.ObjectStorageConnection.CredentialsSecret.AccessKey}}: "{{.ObjectStorageConnection.AccessKeyID}}"
  {{.ObjectStorageConnection.CredentialsSecret.SecretKey}}: "{{.ObjectStorageConnection.SecretAccessKey}}"
