# optimize build caching
# Add .dockerignore improvements
**/.git
**/coverage
# below commented out; surprisingly some tests packages are actually needing during bundle build
# tests
**/*.md
**/docs
**/bin
opt/manifests/**/scorecard
**/e2e
opt/manifests/**/example-*
