apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rhods-operator
  namespace: system
  labels:
    name: rhods-operator
spec:
  selector:
    matchLabels:
      name: rhods-operator
  replicas: 3
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: rhods-operator
      labels:
        name: rhods-operator
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: name
                  operator: In
                  values:
                  - rhods-operator
              topologyKey: kubernetes.io/hostname
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: rhods-operator
        command:
        - /manager
        env:
          - name: DISABLE_DSC_CONFIG
            value: 'false'
          - name: OPERATOR_NAME
            value: rhods-operator
          - name: OPERATOR_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: DEFAULT_MANIFESTS_PATH
            value: /opt/manifests
          # - name: ODH_PLATFORM_TYPE
          #   value: SelfManagedRHOAI
        image: controller:latest
        imagePullPolicy: Always
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 4Gi
          requests:
            cpu: 500m
            memory: 256Mi
      serviceAccountName: redhat-ods-operator-controller-manager
      terminationGracePeriodSeconds: 10
