apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    name: opendatahub-operator
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      name: opendatahub-operator
      control-plane: controller-manager
  replicas: 3
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        name: opendatahub-operator
        control-plane: controller-manager
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: name
                  operator: In
                  values:
                  - opendatahub-operator
              topologyKey: kubernetes.io/hostname
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        env:
          - name: DISABLE_DSC_CONFIG
            value: 'true'
          - name: OPERATOR_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: DEFAULT_MANIFESTS_PATH
            value: /opt/manifests
          - name: ODH_PLATFORM_TYPE
            value: OpenDataHub
        args:
        - --leader-elect
        - --operator-name=opendatahub
        # NOTE: image is provided in CI by pullspec substitution, and by make/kustomize for local builds
        image: REPLACE_IMAGE:latest
        imagePullPolicy: Always
        name: manager
        ports:
          - containerPort: 8080
            protocol: TCP
            name: http
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 4Gi
          requests:
            cpu: 100m
            memory: 780Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
