apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: maas-api
    newName: quay.io/opendatahub/maas-api
    newTag: latest
