apiVersion: maistra.io/v2
kind: ServiceMeshControlPlane
metadata:
  name: {{ .ControlPlane.Name }}
  namespace: {{ .ControlPlane.Namespace }}
spec:
  proxy:
    injection:
      autoInject: false
  gateways:
    ingress:
      volumes:
        - volume:
            secret:
              secretName: {{ .AppNamespace }}-oauth2-tokens
              optional: true
          volumeMount:
            name: {{ .AppNamespace }}-oauth2-tokens
            mountPath: "/etc/istio/{{ .AppNamespace }}-oauth2-tokens"
            readOnly: true

