# This file goes in openshift/release at:
# clusters/hosted-mgmt/hive/pools/opendatahub/install-config-aws_secret.yaml
#
# Install config template for all opendatahub cluster pools.
# Workers use m5.2xlarge (8 vCPU, 32GB) to match our current n2-standard-8
# GCP instances used in the IPI workflow.
#
# TODO: Update baseDomain to match the Route 53 hosted zone in account 585132637328
apiVersion: v1
kind: Secret
metadata:
  name: opendatahub-install-config-aws
  namespace: opendatahub-cluster-pool
stringData:
  install-config.yaml: |
    apiVersion: v1
    baseDomain: REPLACE_WITH_YOUR_ROUTE53_DOMAIN
    compute:
    - architecture: amd64
      hyperthreading: Enabled
      name: worker
      platform:
        aws:
          type: m5.2xlarge
      replicas: 3
    controlPlane:
      architecture: amd64
      hyperthreading: Enabled
      name: master
      platform: {}
      replicas: 3
    metadata:
      creationTimestamp: null
      name: test01
    networking:
      clusterNetwork:
      - cidr: 10.128.0.0/14
        hostPrefix: 23
      machineNetwork:
      - cidr: 10.0.0.0/16
      networkType: OVNKubernetes
      serviceNetwork:
      - 172.30.0.0/16
    platform:
      aws:
        region: us-east-1
    publish: External
type: Opaque
