apiVersion: v1
kind: ConfigMap
metadata:
  name: ds-pipelines-mariadb-tls-config-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: mariadb-{{.Name}}
    component: data-science-pipelines
data:
  mariadb-tls-config.cnf: |
    [mariadb]
    ssl_cert = /.mariadb/certs/tls.crt
    ssl_key = /.mariadb/certs/tls.key
