apiVersion: operator.knative.dev/v1beta1
kind: KnativeServing
metadata:
  name: {{ .Serving.Name }}
  namespace: knative-serving
spec:
  workloads:
    - name: activator
      annotations:
        sidecar.istio.io/inject: "true"
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
    - name: autoscaler
      annotations:
        sidecar.istio.io/inject: "true"
        sidecar.istio.io/rewriteAppHTTPProbers: "true"
    - name: net-istio-controller
      env:
        - container: controller
          envVars:
            - name: ENABLE_SECRET_INFORMER_FILTERING_BY_CERT_UID
              value: 'true'
