apiVersion: v1
kind: Secret
metadata:
  name: "{{.DBConnection.CredentialsSecret.Name}}"
  namespace: {{.Namespace}}
  labels:
    app: mariadb-{{.Name}}
    component: data-science-pipelines
data:
  {{.DBConnection.CredentialsSecret.Key}}: "{{.DBConnection.Password}}"
