---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: '|ServiceAccount|default|argo'
  labels:
    app: ds-pipeline-workflow-controller-{{.Name}}
    component: data-science-pipelines
    dspa: {{.Name}}
  name: ds-pipeline-workflow-controller-{{.Name}}
  namespace: {{.Namespace}}
