---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-opendatahub-io-v1
  failurePolicy: Fail
  name: operator.opendatahub.io
  rules:
  - apiGroups:
    - datasciencecluster.opendatahub.io
    - dscinitialization.opendatahub.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - datascienceclusters
    - dscinitializations
  sideEffects: None
