apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{.ScheduledWorkflowDefaultResourceName}}
  namespace: {{.Namespace}}
  labels:
    app: {{.ScheduledWorkflowDefaultResourceName}}
    component: data-science-pipelines
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - kubeflow.org
    resources:
      - scheduledworkflows
      - scheduledworkflows/finalizers
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
