apiVersion: v1
kind: Secret
metadata:
  name: ds-pipeline-metadata-grpc-tls-config-secret-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    component: metadata-grpc-server
stringData:
  config.proto: |
    connection_config {
      mysql {
        host: "{{.DBConnection.Host}}"
        port: {{.DBConnection.Port}}
        database: "{{.DBConnection.DBName}}"
        user: "{{.DBConnection.Username}}"
        password: "{{.DBConnection.DecodedPassword}}"
      }
    }
    ssl_config {
      server_cert: "{{.MlmdGrpcCertificateContents}}"
      server_key: "{{.MlmdGrpcPrivateKeyContents}}"
      client_verify: false
    }
