apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: knative-ingress-gateway
  namespace: {{ .Serving.Namespace }}
spec:
  selector:
    knative: ingressgateway
  servers:
    - hosts:
        - '*' # TODO: Use .Serving.IngressGateway.Domain || Ingress Domain
      port:
        name: https
        number: 443
        protocol: HTTPS
      tls:
        credentialName: {{ .Serving.IngressGateway.Certificate.SecretName }}
        mode: SIMPLE
