apiVersion: v1
kind: Service
metadata:
  labels:
    experimental.istio.io/disable-gateway-port-translation: "true"
  name: {{ .Serving.LocalGatewayServiceName }} # knative-local-gateway
  namespace: {{ .Mesh.Namespace }}
spec:
  ports:
    - name: http2
      port: 80
      protocol: TCP
      targetPort: 8081
  selector: # TODO
    knative: ingressgateway
  type: ClusterIP