apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opendatahub

resources:
  - ../openshift

patches:
  - path: manager_patch.yaml
    target:
      kind: Deployment
      name: controller-manager
      namespace: system
