---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../default
images:
  - name: quay.io/opendatahub/odh-notebook-controller
    newName: quay.io/opendatahub/odh-notebook-controller
    newTag: 1.7-fef37c4
