apiVersion: v1
kind: Service
metadata:
  name: mariadb-{{.Name}}
  namespace: {{.Namespace}}
  {{ if .PodToPodTLS }}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: ds-pipelines-mariadb-tls-{{.Name}}
  {{ end }}
  labels:
    app: mariadb-{{.Name}}
    component: data-science-pipelines
spec:
  ports:
    - port: 3306
      protocol: TCP
      targetPort: 3306
  selector:
    app: mariadb-{{.Name}}
    component: data-science-pipelines
