# permissions for end users to view modelregistries.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: modelregistry-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: model-registry-operator
#    set by odh operator
#    app.kubernetes.io/part-of: model-registry-operator
    app.kubernetes.io/managed-by: kustomize
  name: modelregistry-viewer-role
rules:
- apiGroups:
  - modelregistry.opendatahub.io
  resources:
  - modelregistries
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - modelregistry.opendatahub.io
  resources:
  - modelregistries/status
  verbs:
  - get
