# permissions for end users to view modelregistries.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: modelregistry-viewer-role
rules:
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - modelregistries
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - modelregistries/status
  verbs:
  - get
