# permissions for end users to edit kueues.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kueue-editor-role
rules:
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - kueues
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - kueues/status
  verbs:
  - get
