# permissions for end users to view trustyais.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: trustyai-viewer-role
rules:
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - trustyais
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - trustyais/status
  verbs:
  - get
