# permissions for end users to view codeflares.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: codeflare-viewer-role
rules:
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - codeflares
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - codeflares/status
  verbs:
  - get
