# permissions for end users to view kserves.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kserve-viewer-role
rules:
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - kserves
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - kserves/status
  verbs:
  - get
