# permissions for end users to view trainingoperators.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: trainingoperator-viewer-role
rules:
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - trainingoperators
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - trainingoperators/status
  verbs:
  - get
