# permissions for end users to view datascienceclusters.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: datasciencecluster-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: opendatahub-operator
    app.kubernetes.io/part-of: opendatahub-operator
    app.kubernetes.io/managed-by: kustomize
  name: datasciencecluster-viewer-role
rules:
- apiGroups:
  - datasciencecluster.opendatahub.io
  resources:
  - datascienceclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - datasciencecluster.opendatahub.io
  resources:
  - datascienceclusters/status
  verbs:
  - get
