# permissions for end users to view dscinitializations.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: dscinitialization-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: opendatahub-operator
    app.kubernetes.io/part-of: opendatahub-operator
    app.kubernetes.io/managed-by: kustomize
  name: dscinitialization-viewer-role
rules:
- apiGroups:
  - dscinitialization.opendatahub.io
  resources:
  - dscinitializations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dscinitialization.opendatahub.io
  resources:
  - dscinitializations/status
  verbs:
  - get
