---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rhods-operator-role
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - '*'
  resources:
  - deployments
  - replicasets
  - services
  verbs:
  - '*'
- apiGroups:
  - '*'
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingadmissionpolicies
  - validatingadmissionpolicybindings
  - validatingwebhookconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/finalizers
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - argoproj.io
  resources:
  - workflows
  verbs:
  - '*'
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
  - get
- apiGroups:
  - authorino.kuadrant.io
  resources:
  - authconfigs
  verbs:
  - '*'
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
  - get
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autoscaling.openshift.io
  - machine.openshift.io
  resources:
  - machineautoscalers
  - machinesets
  verbs:
  - delete
  - get
  - list
  - patch
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - '*'
- apiGroups:
  - build.openshift.io
  resources:
  - buildconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - build.openshift.io
  resources:
  - buildconfigs/instantiate
  - builds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
  verbs:
  - create
  - patch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - codeflares
  - dashboards
  - datasciencepipelines
  - feastoperators
  - kserves
  - kueues
  - llamastackoperators
  - modelcontrollers
  - modelmeshservings
  - modelregistries
  - rays
  - trainingoperators
  - trustyais
  - workbenches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - codeflares/finalizers
  - datasciencepipelines/finalizers
  - feastoperators/finalizers
  - kserves/finalizers
  - kueues/finalizers
  - llamastackoperators/finalizers
  - modelcontrollers/finalizers
  - modelmeshservings/finalizers
  - modelregistries/finalizers
  - rays/finalizers
  - trainingoperators/finalizers
  - trustyais/finalizers
  - workbenches/finalizers
  verbs:
  - update
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - codeflares/status
  - dashboards/status
  - datasciencepipelines/status
  - feastoperators/status
  - kserves/status
  - kueues/status
  - llamastackoperators/status
  - modelcontrollers/status
  - modelmeshservings/status
  - modelregistries/status
  - rays/status
  - trainingoperators/status
  - trustyais/status
  - workbenches/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - components.platform.opendatahub.io
  resources:
  - dashboards/finalizers
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - use
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - authentications
  - clusterversions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - ingresses
  verbs:
  - get
- apiGroups:
  - console.openshift.io
  resources:
  - consolelinks
  - odhquickstarts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - controller-runtime.sigs.k8s.io
  resources:
  - controllermanagerconfigs
  verbs:
  - create
  - delete
  - get
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - clusterversions
  - nodes
  - rhmis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - namespaces
  - secrets
  - secrets/finalizers
  - serviceaccounts
  - services/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - deployments
  - persistentvolumeclaims
  - persistentvolumes
  - pods
  - pods/exec
  - pods/log
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - endpoints
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces/finalizers
  verbs:
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - '*'
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dashboard.opendatahub.io
  resources:
  - acceleratorprofiles
  - odhapplications
  - odhdocuments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dashboard.opendatahub.io
  resources:
  - hardwareprofiles
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - datasciencecluster.opendatahub.io
  resources:
  - datascienceclusters
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datasciencecluster.opendatahub.io
  resources:
  - datascienceclusters/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - datasciencecluster.opendatahub.io
  resources:
  - datascienceclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - datasciencepipelinesapplications.opendatahub.io
  resources:
  - datasciencepipelinesapplications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - datasciencepipelinesapplications.opendatahub.io
  resources:
  - datasciencepipelinesapplications/finalizers
  - datasciencepipelinesapplications/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dscinitialization.opendatahub.io
  resources:
  - dscinitializations
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dscinitialization.opendatahub.io
  resources:
  - dscinitializations/finalizers
  - dscinitializations/status
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - extensions
  resources:
  - deployments
  - replicasets
  verbs:
  - '*'
- apiGroups:
  - extensions
  resources:
  - ingresses
  verbs:
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - features.opendatahub.io
  resources:
  - featuretrackers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - features.opendatahub.io
  resources:
  - featuretrackers/finalizers
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - features.opendatahub.io
  resources:
  - featuretrackers/status
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreams
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreamtags
  - registry/metrics
  verbs:
  - get
- apiGroups:
  - inference.networking.x-k8s.io
  resources:
  - inferencemodels
  - inferencepools
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infrastructure.opendatahub.io
  resources:
  - hardwareprofiles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.opendatahub.io
  resources:
  - hardwareprofiles/finalizers
  verbs:
  - update
- apiGroups:
  - infrastructure.opendatahub.io
  resources:
  - hardwareprofiles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - integreatly.org
  resources:
  - rhmis
  verbs:
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - keda.sh
  resources:
  - triggerauthentications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kueue.openshift.io
  resources:
  - kueues
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kueue.openshift.io
  resources:
  - kueues/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kueue.x-k8s.io
  resources:
  - clusterqueues
  - localqueues
  - resourceflavors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kueue.x-k8s.io
  resources:
  - clusterqueues/status
  - localqueues/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - machinelearning.seldon.io
  resources:
  - seldondeployments
  verbs:
  - '*'
- apiGroups:
  - maistra.io
  resources:
  - servicemeshcontrolplanes
  - servicemeshmembers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - use
  - watch
- apiGroups:
  - maistra.io
  resources:
  - servicemeshmemberrolls
  - servicemeshmembers/finalizers
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - use
  - watch
- apiGroups:
  - metrics.k8s.io
  resources:
  - nodes
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - modelregistry.opendatahub.io
  resources:
  - modelregistries
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - modelregistry.opendatahub.io
  resources:
  - modelregistries/finalizers
  verbs:
  - get
  - update
- apiGroups:
  - modelregistry.opendatahub.io
  resources:
  - modelregistries/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - alertmanagerconfigs
  - alertmanagers
  - alertmanagers/finalizers
  - alertmanagers/status
  - probes
  - prometheuses
  - prometheuses/finalizers
  - prometheuses/status
  - thanosrulers
  - thanosrulers/finalizers
  - thanosrulers/status
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - patch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - podmonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  - servicemonitors
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.rhobs
  resources:
  - monitoringstacks
  - prometheusrules
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.rhobs
  resources:
  - monitoringstacks/finalizers
  - prometheusrules/finalizers
  - servicemonitors/finalizers
  verbs:
  - update
- apiGroups:
  - monitoring.rhobs
  resources:
  - monitoringstacks/status
  - prometheusrules/status
  - servicemonitors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.istio.io
  resources:
  - envoyfilters
  - gateways
  - virtualservices
  verbs:
  - '*'
- apiGroups:
  - networking.istio.io
  resources:
  - virtualservices/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.istio.io
  resources:
  - virtualservices/status
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oauth.openshift.io
  resources:
  - oauthclients
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opendatahub.io
  resources:
  - odhdashboardconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opentelemetry.io
  resources:
  - instrumentations
  - opentelemetrycollectors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opentelemetry.io
  resources:
  - instrumentations/finalizers
  - opentelemetrycollectors/finalizers
  verbs:
  - update
- apiGroups:
  - opentelemetry.io
  resources:
  - instrumentations/status
  - opentelemetrycollectors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.authorino.kuadrant.io
  resources:
  - authorinos
  verbs:
  - '*'
- apiGroups:
  - operator.knative.dev
  resources:
  - knativeservings
  verbs:
  - '*'
- apiGroups:
  - operator.knative.dev
  resources:
  - knativeservings/finalizers
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.openshift.io
  resources:
  - consoles
  - ingresscontrollers
  verbs:
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - catalogsources
  - operatorconditions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - clusterserviceversions
  verbs:
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - delete
  - get
  - patch
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ray.io
  resources:
  - rayclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
- apiGroups:
  - ray.io
  resources:
  - rayjobs
  - rayservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  - rolebindings
  - roles
  verbs:
  - '*'
- apiGroups:
  - route.openshift.io
  resources:
  - routers/federate
  - routers/metrics
  verbs:
  - get
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.istio.io
  resources:
  - authorizationpolicies
  verbs:
  - '*'
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - '*'
- apiGroups:
  - security.openshift.io
  resourceNames:
  - anyuid
  resources:
  - securitycontextconstraints
  verbs:
  - '*'
- apiGroups:
  - security.openshift.io
  resourceNames:
  - restricted
  resources:
  - securitycontextconstraints
  verbs:
  - '*'
- apiGroups:
  - services.platform.opendatahub.io
  resources:
  - auths
  - monitorings
  - servicemeshes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - services.platform.opendatahub.io
  resources:
  - auths/finalizers
  - monitorings/finalizers
  - servicemeshes/finalizers
  verbs:
  - update
- apiGroups:
  - services.platform.opendatahub.io
  resources:
  - auths/status
  - monitorings/status
  - servicemeshes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - serving.knative.dev
  resources:
  - services
  - services/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.knative.dev
  resources:
  - services/status
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - serving.kserve.io
  resources:
  - clusterservingruntimes
  - clusterservingruntimes/finalizers
  - inferencegraphs
  - inferenceservices
  - inferenceservices/finalizers
  - llminferenceserviceconfigs
  - predictors
  - servingruntimes/finalizers
  - trainedmodels
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.kserve.io
  resources:
  - clusterservingruntimes/status
  - inferencegraphs/status
  - inferenceservices/status
  - predictors/status
  - trainedmodels/status
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - serving.kserve.io
  resources:
  - llminferenceserviceconfigs/status
  - predictors/finalizers
  - servingruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - serving.kserve.io
  resources:
  - llminferenceservices
  - llminferenceservices/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - serving.kserve.io
  resources:
  - servingruntimes
  verbs:
  - '*'
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshots
  verbs:
  - create
  - delete
  - get
  - patch
- apiGroups:
  - template.openshift.io
  resources:
  - templates
  verbs:
  - '*'
- apiGroups:
  - tempo.grafana.com
  resources:
  - tempomonolithics
  - tempostacks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - user.openshift.io
  resources:
  - groups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - user.openshift.io
  resources:
  - users
  verbs:
  - delete
  - get
  - list
  - patch
  - update
  - watch
