apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{.APIServerDefaultResourceName}}
  namespace: {{.Namespace}}
  labels:
    app: {{.APIServerDefaultResourceName}}
    component: data-science-pipelines
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{.APIServerDefaultResourceName}}
subjects:
  - kind: ServiceAccount
    name: {{.APIServerDefaultResourceName}}
