apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.APIServerDefaultResourceName}}
  namespace: {{.Namespace}}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{.APIServerDefaultResourceName}}"}}'
  labels:
    app: {{.APIServerDefaultResourceName}}
    component: data-science-pipelines
