apiVersion: v1
kind: Service
metadata:
  name: {{.WebhookName}}
  namespace: {{.DSPONamespace}}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{.WebhookName}}-tls
  labels:
    app: {{.WebhookName}}
    component: data-science-pipelines
spec:
  ports:
    - name: webhook
      port: 8443
      protocol: TCP
      targetPort: webhook
  selector:
    app: {{.WebhookName}}
    component: data-science-pipelines
