apiVersion: monitoring.rhobs/v1
kind: PrometheusRule
metadata:
  name: operator-prometheusrules
  namespace: {{.Namespace}}
spec:
  groups:
      - name: SLOs - RHODS Operator v2
        interval: 15m
        rules:
        - expr: |
            rate(controller_runtime_reconcile_total{controller="dscinitialization-controller", job="RHOAI Metrics", result!="success"}[15m])
          labels:
            instance: dscinitialization-controller
          record: controller_runtime_reconcile_total:rate15m
        - expr: |
            rate(controller_runtime_reconcile_total{controller="datasciencecluster-controller", job="RHOAI Metrics", result!="success"}[15m])
          labels:
            instance: datasciencecluster-controller
          record: controller_runtime_reconcile_total:rate15m
      
      - name: Operator Pod Health
        interval: 1m
        rules:
        - alert: OperatorPodRestartingFrequently
          expr: |
            increase(kube_pod_container_status_restarts_total{
              namespace="redhat-ods-operator",
              pod=~"rhods-operator.*"
            }[5m]) > 3
          for: 2m
          labels:
            severity: warning
            namespace: redhat-ods-operator
          annotations:
            summary: "Operator pod {{`{{`}} $labels.pod {{`}}`}} is restarting frequently"
            description: "Pod {{`{{`}} $labels.pod {{`}}`}} in namespace {{`{{`}} $labels.namespace {{`}}`}} has restarted {{`{{`}} $value {{`}}`}} times in the last 5 minutes. This indicates potential instability."
            message: "Container {{`{{`}} $labels.container {{`}}`}} in pod {{`{{`}} $labels.pod {{`}}`}} (namespace: {{`{{`}} $labels.namespace {{`}}`}}) has been restarted more than 3 times in a 5-minute period."
            triage: "https://github.com/opendatahub-io/opendatahub-operator/blob/main/docs/troubleshooting.md#operator-pod-restarting-frequently"