kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: ds-pipeline-ui-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-ui-{{.Name}}
    component: data-science-pipelines
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  to:
    kind: Service
    name: ds-pipeline-ui-{{.Name}}
    weight: 100
  port:
    targetPort: 8443
  tls:
    termination: Reencrypt
    insecureEdgeTerminationPolicy: Redirect
