apiVersion: v1
kind: Service
metadata:
  name: ds-pipeline-ui-{{.Name}}
  namespace: {{.Namespace}}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: ds-pipelines-ui-proxy-tls-{{.Name}}
  labels:
    app: ds-pipeline-ui-{{.Name}}
    component: data-science-pipelines
spec:
  ports:
    - name: http
      port: 8443
      protocol: TCP
      targetPort: 8443
  selector:
    app: ds-pipeline-ui-{{.Name}}
    component: data-science-pipelines
