apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# SQLite with PVC Overlay
# Uses local disk storage (survives pod restarts, single-replica only)
#
# Usage:
#   kustomize build deployment/overlays/sqlite-pvc | kubectl apply -f -

namespace: maas-api

resources:
- ../openshift
- pvc.yaml

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/volumes
      value:
        - name: data
          persistentVolumeClaim:
            claimName: maas-api-data
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts
      value:
        - name: data
          mountPath: /data
    - op: add
      path: /spec/template/spec/containers/0/command
      value:
        - ./maas-api
    - op: add
      path: /spec/template/spec/containers/0/args
      value:
        - --storage=disk
  target:
    kind: Deployment
    name: maas-api

