apiVersion: v1
kind: Namespace
metadata:
  labels:
    name: opendatahub-coreweave-cloud-manager-operator
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opendatahub-coreweave-cloud-manager-operator
  namespace: system
  labels:
    name: opendatahub-coreweave-cloud-manager-operator
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      name: opendatahub-coreweave-cloud-manager-operator
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        name: opendatahub-coreweave-cloud-manager-operator
        control-plane: controller-manager
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: name
                  operator: In
                  values:
                  - opendatahub-coreweave-cloud-manager-operator
              topologyKey: kubernetes.io/hostname
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /coreweavecloudmanager
        env:
          - name: OPERATOR_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: DEFAULT_CHARTS_PATH
            value: /opt/charts
        args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=0.0.0.0:8080
        - --leader-elect
        # NOTE: image is provided in CI by pullspec substitution, and by make/kustomize for local builds
        image: REPLACE_IMAGE:latest
        imagePullPolicy: Always
        name: manager
        ports:
          - containerPort: 8080
            protocol: TCP
            name: http
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 1000m
            memory: 4Gi
          requests:
            cpu: 100m
            memory: 780Mi
      serviceAccountName: opendatahub-coreweave-cloud-manager-operator
      terminationGracePeriodSeconds: 10
