apiVersion: v1
kind: Service
metadata:
  name: ds-pipeline-metadata-grpc-{{.Name}}
  namespace: {{.Namespace}}
  {{ if .PodToPodTLS }}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: ds-pipeline-metadata-grpc-tls-certs-{{.Name}}
  {{ end }}
  labels:
    app: ds-pipeline-metadata-grpc-{{.Name}}
    component: data-science-pipelines
    dspa: {{.Name}}
spec:
  ports:
    - name: grpc-api
      port: {{.MLMD.GRPC.Port}}
      protocol: TCP
  selector:
    app: ds-pipeline-metadata-grpc-{{.Name}}
    component: data-science-pipelines
  type: ClusterIP
