apiVersion: v1
kind: Service
metadata:
  name: metadata-grpc-service
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-metadata-grpc-{{.Name}}
    component: data-science-pipelines
spec:
  ports:
    - name: grpc-api
      port: {{.MLMD.GRPC.Port}}
      protocol: TCP
  selector:
    app: ds-pipeline-metadata-grpc-{{.Name}}
    component: data-science-pipelines
  type: ClusterIP
