apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ .Mesh.Name }}-envoy-monitor
  namespace: {{ .Mesh.Namespace }}
spec:
  selector:
    matchExpressions:
    - key: istio-prometheus-ignore
      operator: DoesNotExist
  podMetricsEndpoints:
  - path: /stats/prometheus
    interval: 30s