apiVersion: v1
kind: Service
metadata:
  labels:
    app: ds-pipeline-metadata-envoy-{{.Name}}
    component: data-science-pipelines
  name: ds-pipeline-md-{{.Name}}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: ds-pipelines-envoy-proxy-tls-{{.Name}}
  namespace: {{.Namespace}}
spec:
  ports:
    - name: md-envoy
      port: 9090
      protocol: TCP
    - name: oauth2-proxy
      port: 8443
      protocol: TCP
  selector:
    app: ds-pipeline-metadata-envoy-{{.Name}}
    component: data-science-pipelines
  type: ClusterIP
