apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: ds-pipeline-metadata-writer-{{.Name}}
    component: data-science-pipelines
  name: ds-pipeline-metadata-writer-{{.Name}}
  namespace: {{.Namespace}}

rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - tekton.dev
    resources:
      - pipelineruns
      - taskruns
      - conditions
    verbs:
      - get
      - list
      - watch
      - update
      - patch
