apiVersion: v1
data:
  viewer-pod-template.json: |-
    {
        "spec": {
            "serviceAccountName": "ds-pipelines-viewer-{{.Name}}"
        }
    }
kind: ConfigMap
metadata:
  name: ds-pipeline-ui-configmap-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: ds-pipeline-ui-{{.Name}}
    component: data-science-pipelines
