apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Auth.InstanceName }}
  namespace: {{ .Auth.Namespace }}
spec:
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "true"
