package {{ .Component | lowercase }}

import (
	componentApi "github.com/opendatahub-io/opendatahub-operator/v2/api/components/v1alpha1"
	"github.com/opendatahub-io/opendatahub-operator/v2/internal/controller/status"
)

const (
	ComponentName = componentApi.{{ .Component }}ComponentName

	ReadyConditionType = componentApi.{{ .Component }}Kind + status.ReadySuffix

	// TODO: Add the legacy componentName
	// LegacyComponentName is the name of the component that is assigned to deployments
	// via Kustomize. Since a deployment selector is immutable, we can't upgrade existing
	// deployment to the new component name, so keep it around till we figure out a solution.
	LegacyComponentName = ""
)

// TODO: Add supporting functions as required below.
