apiVersion: maistra.io/v2
kind: ServiceMeshControlPlane
metadata:
  name: {{ .ControlPlane.Name }}
  namespace: {{ .ControlPlane.Namespace }}
spec:
  tracing:
    type: None
  addons:
    prometheus:
      enabled: false
    grafana:
      enabled: false
    jaeger:
      name: jaeger
    kiali:
      name: kiali
      enabled: false
