apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: opendatahub
resources:
  - ../../base
patchesStrategicMerge:
  - img_patch.yaml
  - res_patch.yaml
  - user_patch.yaml
  - env_patch.yaml
images:
  - name: controller
    newName: quay.io/opendatahub/data-science-pipelines-operator
    newTag: main
