apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: {{.APIServerDefaultResourceName}}
    component: data-science-pipelines
  name: {{.APIServerDefaultResourceName}}
  namespace: {{.Namespace}}
spec:
  endpoints:
    - path: /metrics
      port: http
  selector:
    matchLabels:
      app: {{.APIServerDefaultResourceName}}
      component: data-science-pipelines
