---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: kfupgrades.kfupdate.apps.kubeflow.org.my.domain
spec:
  group: kfupdate.apps.kubeflow.org.my.domain
  names:
    kind: KfUpgrade
    listKind: KfUpgradeList
    plural: kfupgrades
    singular: kfupgrade
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: KfUpgrade is the Schema for the kfupgrades API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KfUpgradeSpec defines the desired state of KfUpgrade
            properties:
              baseConfigPath:
                description: Base config file used to generate the new KfDef.
                type: string
              currentKfDef:
                description: Reference to the current (existing) KfDef.
                properties:
                  name:
                    description: Name of the referrent.
                    type: string
                  version:
                    description: Version of the referent.
                    type: string
                type: object
              newKfDef:
                description: Reference to the new KfDef.
                properties:
                  name:
                    description: Name of the referrent.
                    type: string
                  version:
                    description: Version of the referent.
                    type: string
                type: object
            type: object
          status:
            description: KfUpgradeStatus defines the observed state of KfUpgrade
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    lastUpdateTime:
                      description: The last time this condition was updated.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of deployment condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
