---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: odhdeployments.odhdeployment.opendatahub.io
spec:
  group: odhdeployment.opendatahub.io
  names:
    kind: OdhDeployment
    listKind: OdhDeploymentList
    plural: odhdeployments
    singular: odhdeployment
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: OdhDeployment is the Schema for the odhdeployments API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OdhDeploymentSpec defines the desired state of OdhDeployment
            properties:
              components:
                items:
                  properties:
                    customParameters:
                      additionalProperties:
                        type: string
                      type: object
                    manifestFolder:
                      type: string
                    name:
                      type: string
                    postInstallScript:
                      type: string
                    preInstallScript:
                      type: string
                    url:
                      type: string
                  required:
                  - name
                  - url
                  type: object
                type: array
              version:
                type: string
            type: object
          status:
            description: OdhDeploymentStatus defines the observed state of OdhDeployment
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
