name: Bundle Sync CI

on:
  workflow_dispatch:

  push:
    branches:
      - 'stable'

permissions:
  contents: read
  packages: write
  id-token: write

env:
  GITHUB_ORG: opendatahub-io

jobs:
  sync:
    if: ${{ github.ref_name == 'stable' }}
    runs-on: ubuntu-latest
    steps:
      - name: Generate github-app token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app_id: ${{ secrets[format('{0}_DEVOPS_APP_ID', vars.ORG_PREFIX)] }}
          private_key: ${{ secrets[format('{0}_DEVOPS_APP_PRIVATE_KEY', vars.ORG_PREFIX)] }}

      - name: Checkout source repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: ${{ env.GITHUB_ORG }}/opendatahub-operator
          path: source_repo
          ref: ${{ github.ref_name }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Checkout target repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: ${{ env.GITHUB_ORG }}/ODH-Build-Config
          path: target_repo
          ref: main
          token: ${{ steps.app-token.outputs.token }}

      - name: Generate bundle files
        run: |
          cd source_repo
          ODH_PLATFORM_TYPE=rhoai make bundle

      - name: Sync Bundle Files
        run: |
          mkdir -p target_repo/to-be-processed/bundle
          echo "Updating bundle related files"
          rm -rf target_repo/to-be-processed/bundle/*
          if [ -d source_repo/rhoai-bundle ]; then
            cp -r source_repo/rhoai-bundle/* target_repo/to-be-processed/bundle
          else
            cp -r source_repo/bundle/* target_repo/to-be-processed/bundle
          fi
          sed -i -e "s|image: quay.io/opendatahub/opendatahub-operator:latest.*|image: REPLACE_IMAGE:latest|g" target_repo/to-be-processed/bundle/manifests/rhods-operator.clusterserviceversion.yaml
#          echo "Updating Dockerfile"
#          cp source_repo/Dockerfiles/bundle.Dockerfile target_repo/to-be-processed/bundle/Dockerfile

      - name: Check for bundle changes
        id: bundle-change-check
        run: |
          cd target_repo
          git add to-be-processed/bundle
          if [ -z "$(git diff --staged | grep -P '^[-+]' | grep -v createdAt | grep -v -P '^(\+\+\+|---)')" ]; then
            echo "bundle_changes=empty" >> $GITHUB_OUTPUT
          else
            echo "bundle_changes=present" >> $GITHUB_OUTPUT
          fi

      - name: Commit and push the changes to release branch
        uses: actions-js/push@master
        if: ${{ steps.bundle-change-check.outputs.bundle_changes == 'present' }}
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          branch: main
          message: "Sync changes from source repo"
          repository: ${{ env.GITHUB_ORG }}/ODH-Build-Config
          directory: target_repo
          author_name: Openshift-AI DevOps
          author_email: openshift-ai-devops@redhat.com
