name: Sync Main Branch Into Rhoai Branch

on:
  schedule:
    # Run every 2 hours
    - cron: '0 */2 * * *'
  workflow_dispatch: # Allow manual triggering

jobs:
  sync_main_into_rhoai:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.ODH_RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.ODH_RELEASE_BOT_PRIVATE_KEY }}

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.generate-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
      - run: |
          git config --global user.name '${{ steps.generate-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.generate-token.outputs.app-slug }}[bot]@users.noreply.github.com'

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: rhoai
          token: ${{ steps.generate-token.outputs.token }}

      - name: Update main commits into rhoai
        id: update_main_into_rhoai
        run: |
          git fetch origin main rhoai
          git merge origin/main
          git push origin rhoai
