name: Unit Tests
on:
  push:
    branches:
      - rhoai
      - main
  pull_request:
      paths:
      - 'internal/**'
      - 'pkg/**'
      - 'cmd/main.go'
      - 'api/**'
      - 'config/**'

jobs:
  unit-test:
    name: Run tests and collect coverage on internal and pkg
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Run Unit Tests
        env:
          TEST_SRC: ./internal/... ./pkg/...
        run: |
          make manifests
          make unit-test

      - name: Upload results to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
