name: Unit Tests CLI
on:
  push:
    branches:
      - main
      - rhoai
  pull_request:
      paths:
      - 'cmd/test-retry/**'
jobs:
  unit-test:
    name: Run CLI tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: ./cmd/test-retry/go.mod

      - name: Run Unit Tests
        run: make unit-test-cli
