name: Unit Tests2
on:
  push:
    branches:
      - rhoai
      - main
  pull_request:
jobs:
  unit-test:
    name: Run tests and collect coverage on internal and pkg
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run Unit Tests
        env:
          TEST_SRC: ./internal/... ./pkg/...
        run: make unit-test

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
